.spinner {
    width: 12rem;
    height: 12rem;
    animation: spin infinite 5s linear;
    color: rgb(255, 255, 255);
}

.spinner-overlay {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 1000;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
